@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Página do ALUNO</h1>
    <p>"Tudo que vale a pena é difícil e exige esforço. Estudem mesmo sendo complicado, porque trará os melhores resultados."</p>
</div>
